@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('http://efradpl.260mb.org/font/ColabThi.eot');
    src: url('http://efradpl.260mb.org/font/ColabThi.eot?#iefix') format('embedded-opentype'),
         url('http://efradpl.260mb.org/font/ColabThi.woff') format('woff'),
         url('http://efradpl.260mb.org/font/ColabThi.ttf') format('truetype'),
         url('http://efradpl.260mb.org/font/ColabThi.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	margin: 0;
	background:url(./../../styles/img/body.gif) repeat;
}
#wrapper{
	width: 980px;
	margin: 0 auto;
	height:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	padding:2px;
	position:relative;
	background: url(./../../styles/img/pattern.png)repeat-x left top;
	padding-top:5px;
}
header{
	background: -moz-linear-gradient(top, white 0%, #cecece 100%);
	width:100%;
	height:262px;
	overflow:hidden;
	position:relative;
}
.logo{
	margin:5px;
	margin-left:18px;
}
#sueno{
	position:absolute;
 	left:-100px; 
	top:60px;
	display:none;
}
#eventos{
	width:70%;
	border:1px solid black;
}
.info{
	top:20px;
	left:18%;
	position:absolute;
}
.boda{
	width:auto;
	height:140px;
	top:25px;
	left:28%;
	position:absolute;
}
.boda:hover img{
	border-radius:0px;
}
.boda img{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-transition: border-radius 1s; /* Firefox 4 */
	-webkit-transition: border-radius 1s; /* Safari and Chrome */
	-o-transition: border-radius 1s; /* Opera */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.boda .content1{
	position:absolute;
	bottom:6px;
	margin-left:40px;
}
.boda .content1 a{
	font-size: 20px;
	color:white;
	text-decoration:none;
	font-family: Trebuchet;
}
.comunion{
	width:auto;
	height:140px;
	top:25px;
	left:44%;
	position:absolute;
}
.comunion:hover img{
	border-radius:0px;
}
.comunion img{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: border-radius 1s;
	-moz-transition: border-radius 1s; /* Firefox 4 */
	-webkit-transition: border-radius 1s; /* Safari and Chrome */
	-o-transition: border-radius 1s; /* Opera */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.comunion .content2{
	position:absolute;
	bottom:6px;
	margin-left:22px;
}
.comunion .content2 a{
	font-size: 20px;
	color:white;
	text-decoration:none;
	font-family: Trebuchet;
}
.bautizo{
	width:auto;
	height:140px;
	top:25px;
	left:60%;
	position:absolute;
}
.bautizo:hover img{
	border-radius:0px;
}
.bautizo img{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: border-radius 1s;
	-moz-transition: border-radius 1s; /* Firefox 4 */
	-webkit-transition: border-radius 1s; /* Safari and Chrome */
	-o-transition: border-radius 1s; /* Opera */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.bautizo .content3{
	position:absolute;
	bottom:6px;
	margin-left:34px;
}
.bautizo .content3 a{
	font-size: 20px;
	color:white;
	text-decoration:none;
	font-family: Trebuchet;
}
.fiesta{
	width:auto;
	height:140px;
	top:25px;
	left:76%;
	position:absolute;
	border-right: 1px dashed grey;
	padding-right:17px;
}
.fiesta:hover img{
	border-radius:0px;
}
.fiesta img{
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: border-radius 1s;
	-moz-transition: border-radius 1s; /* Firefox 4 */
	-webkit-transition: border-radius 1s; /* Safari and Chrome */
	-o-transition: border-radius 1s; /* Opera */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.fiesta .content4{
	position:absolute;
	bottom:6px;
	margin-left:42px;
}
.fiesta .content4 a{
	font-size: 20px;
	color:white;
	text-decoration:none;
	font-family: Trebuchet;
}
#idiomas img:hover{
	opacity: 0.7;
}
.espaniol{
	position:absolute;
	left:94%;
	top:35px;
}
.ingles{
	position:absolute;
	left:94%;
	top:83px;
}
.aleman{
	position:absolute;
	left:94%;
	top:128px;
}
#caracteristicasContent{
	position:relative;
	height:300px;
	background: -moz-linear-gradient(top, white 0%, #cecece 100%),-moz-linear-gradient(top, white 0%, #cecece 100%);
	width:100%;	
}
.person{
	padding:34px;
	padding-top:40px;
}
.oferta{
	position:absolute;
	top:35px;
	left:137px;
}
.caracteristicas{
	position:absolute;
	top:130px;
	left: 30%;
}
.caracteristicas ul{
	list-style:none;
}
.caracteristicas ul li{
	float:left;
	font-size: 23px; 
	color: #6d6d6d;
	font-family: 'ColaborateThinRegular';
	text-decoration:none;
	width: 295px;
	font-style: oblique; 
}
.caracteristicas ul li p{
	margin-top:1%;
	font-size: 23px; 
	color: #6d6d6d;
	font-family: 'ColaborateThinRegular';
	text-decoration:none;
	width: 295px;
	font-style: oblique; 
	font-weight:bold;
}
.caracteristicas ul li img{
	float:left; 
	margin-right: 3%;
	background: #333;
	border-radius: 25px;
}
#carac2{
	position:absolute;
	top:70px;
}
#precios{
	padding-top: 30px;
	padding-bottom: 30px;
	position:relative;
	width:100%;
	height:auto;
	background: -moz-linear-gradient(top, white 0%, #cecece 100%);
}
.pricing-table { min-width: 670px; }
 
.pricing-table td {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    vertical-align: text-top;
}
.pricing-table thead .plan td {
    width: 210px;
    height: 42px;
    padding: 15px 0;
    text-align: center;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
.pricing-table thead .plan h2 {
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24px;
}
 
.pricing-table thead .plan em {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}
.pricing-table thead .plan .green {
    color: white;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #447eba;
}
 
.pricing-table thead .plan .orange {
    color: #fafafa;
    text-shadow: 1px 1px 2px rgba(0,0,0, .4);
    background: #444342;
}
.pricing-table thead .price td {
    position: relative;
    width: 210px;
    padding: 25px 0;
	color: white;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #b6b07c;
 
    background: #f9f8f1;
    background: -moz-linear-gradient(top,  #f9f8f1 0%, #f4f2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f1), color-stop(100%,#f4f2e2));
    background: -webkit-linear-gradient(top,  #f9f8f1 0%,#f4f2e2 100%);
    background: -o-linear-gradient(top,  #f9f8f1 0%,#f4f2e2 100%);
    background: -ms-linear-gradient(top,  #f9f8f1 0%,#f4f2e2 100%);
    background: linear-gradient(to bottom,  #f9f8f1 0%,#f4f2e2 100%);
}
 
.pricing-table thead .price p {
    display: table;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px;
}
 
.pricing-table thead .price p span {
    font-size: 0.5em;
    display: table-cell;
    vertical-align: middle;
}
 
.pricing-table thead .price span { font-size: 14px; }

.pricing-table thead .price a {
    display: block;
    position: absolute;
    top: 41px;
    right: -5px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    font-size: 12px;
    text-decoration: none;
}
 
.pricing-table thead .price .green a {
    color: #37621f;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
 
    background: #82d344;
    background: -moz-linear-gradient(top,  #82d344 0%, #51af34 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#51af34));
    background: -webkit-linear-gradient(top,  #82d344 0%,#51af34 100%);
    background: -o-linear-gradient(top,  #82d344 0%,#51af34 100%);
    background: -ms-linear-gradient(top,  #82d344 0%,#51af34 100%);
    background: linear-gradient(to bottom,  #82d344 0%,#51af34 100%);
}
.pricing-table thead .price .orange a {
    color: #fafafa;
    text-shadow: 1px 1px 2px rgba(0,0,0, .3);
 
    background: #ff8042;
    background: -moz-linear-gradient(top,  #ff8042 0%, #f55a0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8042), color-stop(100%,#f55a0e));
    background: -webkit-linear-gradient(top,  #ff8042 0%,#f55a0e 100%);
    background: -o-linear-gradient(top,  #ff8042 0%,#f55a0e 100%);
    background: -ms-linear-gradient(top,  #ff8042 0%,#f55a0e 100%);
    background: linear-gradient(to bottom,  #ff8042 0%,#f55a0e 100%);
}
.pricing-table thead .price .green a:before,
.pricing-table thead .price .orange a:before,
.pricing-table thead .price .green a:after,
.pricing-table thead .price .orange a:after {
    display: block;
    position: absolute;
    content: '';
}
 
.pricing-table thead .price .green a:before,
.pricing-table thead .price .orange a:before {
    width: 8px;
    height: 32px;
    top: 0;
    left: -8px;
    background: url() no-repeat;
}
 
.pricing-table thead .price .green a:after,
.pricing-table thead .price .orange a:after {
    width: 0;
    height: 0;
    bottom: -5px;
    right: 0;
    border-bottom: 5px solid transparent;
}
 
.pricing-table thead .price .green a:before { background-position: 0 0; }
.pricing-table thead .price .orange a:before { background-position: 0 -32px; }
.pricing-table thead .price .green a:after { border-left: 5px solid #1c5d40; }
.pricing-table thead .price .orange a:after { border-left: 5px solid #88330a; }

.pricing-table tbody tr:first-child td:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    top: -25px;
    left: 0;
    background: url(./../img/stripe.png) repeat-x 0 0;
}
 
.pricing-table tbody td {
    width: 170px;
    padding-left: 40px;
    line-height: 30px;
    border-top: 1px solid #f2f2f2;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #828282;
}
.pricing-table tbody tr:first-child td { border-top: 20px solid #ffffff; }
.pricing-table .clock-icon td,
.pricing-table .basket-icon td,
.pricing-table .star-icon td,
.pricing-table .heart-icon td { background: #ffffff url(./../img/icons.png) no-repeat 0 0; }
 
.pricing-table .clock-icon td { background-position: 0 0; }
.pricing-table .basket-icon td { background-position: 0 -30px; }
.pricing-table .star-icon td { background-position: 0 -60px; }
.pricing-table .heart-icon td { background-position: 0 -90px; }
.pricing-table tfoot td {
    width: 190px;
    padding: 20px 10px;
    text-align: center;
    line-height: 18px;
    background: #ffffff;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #828282;
 
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
 
    -webkit-box-shadow: 0px 2px 0px #e4e4e4;
    -moz-box-shadow: 0px 2px 0px #e4e4e4;
    box-shadow: 0px 2px 0px #e4e4e4;
}
.table-float {
    display: block;
    position: absolute;
    width: 300px;
    padding: 80px 0 0 0;
    top: 85%;
    left: 130px;
}
 
.table-float p {
    font-family: Lobster13Regular, sans-serif;
    font-size: 16px;
    color: #858585;
    line-height: 20px;
}
 
.table-float p.big {
    font-size: 65px;
    color: #f76117;
    text-align: right;
    line-height: 65px;
}

.pricing-table thead .price a { right: 0; }
 
.pricing-table thead .price .green a:before,
.pricing-table thead .price .orange a:before,
.pricing-table thead .price .green a:after,
.pricing-table thead .price .orange a:after { display: none; }
 
.pricing-table tbody tr:first-child td:before { top: -15px; }

.pricing-table tfoot td a.verde {
	padding:10px;
	font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #447eba;
}
.pricing-table tfoot td a.naranja {
	padding:10px;
	font-size: 15px;
    text-transform: uppercase;
    color: #fafafa;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #444342;
}
footer{
	height: 100px;
	width:100%;
	position:relative;
	background: url(./../../styles/img/pattern.png)repeat-x left bottom;
	padding-bottom:15px;
}
#lenguajes{
	padding: 25px;
	background: url(./../../styles/img/footer.jpg) repeat;
}
#html5{
	background: url(./../img/spriteHtml5.png) no-repeat;
	width:43px;
	height:60px;
	float:left;
}
#html5:hover{
	background-position: 0px -60px;
}
#css3{
	background: url(./../img/spritecss3.png) no-repeat;
	width:43px;
	height:60px;
	margin-left:60px;
	padding-right:20px;
	border-right: 1px solid white;
}
#css3:hover{
	background-position: 0px -60px;
}
#info{
	width:268px;
	height:64px;
	position:absolute;
	top:20px;
	left:160px;
	color:white;
	font-size:10px;
	padding-right:20px;
	border-right: 1px solid white;
}
#info p.linea{
	border-bottom: 1px dashed grey;
	padding-bottom: 5px;
}
#share{
	width:275px;
	height:64px;
	position:absolute;
	top:20px;
	left:455px;
	color:white;
	font-size:10px;
	padding-right:5px;
	border-right: 1px solid white;
}
#share img:hover{
	opacity: 0.7;
}
#comoLlegar{
	width:220px;
	height:64px;
	position:absolute;
	top:20px;
	left:747px;
	color:white;
	font-size:10px;
}
#comoLlegar img:hover{
	opacity:0.7;
}
blockquote {
background:#f9f9f9;
border-left:10px solid #ccc;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
color:#ccc;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:inline;
}
#tabs img:hover{
	opacity: 0.7;
}