/**************************** CSS Reset  ****************************/
ol,ul{list-style:none;}
blockquote,q
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{color:#487697;text-decoration:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/**************************** General ****************************/
a:hover{text-decoration:underline;}
p{color:#555;font-size:11px;}
/**************************** Calendar ****************************/

#calendario{
	position:relative;
	width:100%;
	max-height:auto;
	overflow:hidden;
	min-height:450px;
	background:#fff;
}

#calendar{
	margin: 0 auto;
	padding-top: 25px;
	width: 760px;
	text-align: center;
	position:relative;
	margin-left:100px;
}
#calheader{
	width:100%;
	height:30px;
	text-align:center;
}
#calheader h4{
	margin-top:15px;
	font-size:25px;
}
#calcontainer{
	float:left;
	margin-bottom:10px;
}
#daysmonth{
	clear:both;
}
.daysemana{width:107px;height:30px;float:left;border-right:1px solid #e5e5e5;}
.daysemana p{display:block;text-align:center;font-size:10px;line-height:31px;text-shadow:0 1px 0 #ffffff;}
.semana{overflow:auto;border-top:1px solid #c2c2c2;}
.semanau{overflow:auto;border-top:1px solid #c2c2c2;border-bottom:1px solid #e5e5e5;}
.today{background:#fffcdf;border-right:1px solid #e5e5e5;}
.today .daybar{background:#fffac1;}
.day{width:107px;float:left;border-right:1px solid #e5e5e5;}
.brn{border-right:none;}
.bun{border-bottom:none;}
.day:hover{background:#e9f0f8;cursor:pointer;}
.daybar{width:100%;float:left;background:#f3f3f3;}
.daybar p{margin-left:5px;margin-top:3px;margin-bottom:3px;font-size:10px;font-weight:400;color:#969696;text-shadow:0 1px 0 #ffffff;}
.dots{width:100%;height:35px;clear:both;}
.dots ul{text-align:center;white-space:nowrap;overflow:hidden;}
.dots ul li{margin-top:10px;display:inline-block;-webkit-border-radius:14px;width:12px;height:12px;}
.big{width:107px;float:left;}
.big:hover{background:#e9f0f8;cursor:pointer;}
.big .dots{height:65px;}
.big .dots li{margin-top:25px;}

/**************************** Events when slide is abierto ****************************/
.abierto{height:480px;border-top:1px solid #e5e5e5;float:left;clear:both;}
.abierto li{-webkit-border-radius:10px;margin-left:1px;margin-right:1px;}
.abierto li p{width:93px;margin-top:5px;margin-left:6px;margin-right:6px;line-height:12px;font-size:10px;color:#ffffff;overflow:hidden;}
.abierto li:hover{cursor:pointer;}

/**************************** Colors ****************************/
.none{background:#d6d6d6;}
.none:hover{background:#dfdfdf;}
.blue{background:#5496dd;}
.blue:hover{background:#5c9ef9;}
.red{background:#ff454b;}
.red:hover{background:#ff6164;}
.yellow{background:#ffac4d;}
.yellow:hover{background:#ffbd6a;}
.green{background:#94e354;}
.green:hover{background:#98e857;}

/**************************** Duration of an event ****************************/
.l1{height:20px;overflow:hidden;}
.l2{height:40px;overflow:hidden;}
.l3{height:60px;overflow:hidden;}
.l4{height:80px;overflow:hidden;}
.l5{height:100px;overflow:hidden;}
.l6{height:120px;}
.l7{height:140px;}
.l8{height:160px;}
.l9{height:180px;}
.l10{height:200px;}
.l11{height:220px;}
.l12{height:240px;}
.l13{height:260px;}
.l14{height:280px;}
.l15{height:300px;}
.l16{height:320px;}
.l17{height:340px;}
.l18{height:360px;}
.l19{height:380px;}
.l20{height:400px;}
.l21{height:420px;}
.l22{height:440px;}
.l23{height:460px;}
.l24{height:480px;}

/**************************** Amount of hours between previous event or start of the day ****************************/
.a1{margin-top:20px;}
.a2{margin-top:40px;}
.a3{margin-top:60px;}
.a4{margin-top:80px;}
.a5{margin-top:100px;}
.a6{margin-top:120px;}
.a7{margin-top:140px;}
.a8{margin-top:160px;}
.a9{margin-top:180px;}
.a10{margin-top:200px;}
.a11{margin-top:220px;}
.a12{margin-top:240px;}
.a13{margin-top:260px;}
.a14{margin-top:280px;}
.a15{margin-top:300px;}
.a16{margin-top:320px;}
.a17{margin-top:340px;}
.a18{margin-top:360px;}
.a19{margin-top:380px;}
.a20{margin-top:400px;}
.a21{margin-top:420px;}
.a22{margin-top:440px;}
.a23{margin-top:460px;}
.a24{margin-top:480px;}

/**************************** Legend ****************************/
#calcat{float:right;margin-bottom:20px;margin-right:5px;}
#calcat p{margin-top:4px;float:left;}
.caldot{float:left;width:12px;height:12px;border-radius:20px;margin-left:10px;margin-top:4px;margin-right:8px;}
