body {
		background-color:#333333;
		margin:0;
	}
	
	/* Firefox Dotted Outline Fix */
	a:active { 
		outline: none; 
	}
	
	/* Firefox Dotted Outline Fix */
	a:focus { 
		-moz-outline-style: none; 
	}
	
	/* Menu Body */
	ul#menu {
		width:100%;
		height:60px;
		background:url(./back.png) no-repeat;
		list-style:none;
		margin:0;
		padding:0;
		padding-top:20px;
		padding-left:0%;
	}
	
	/* Float LI Elements - horizontal display */
	ul#menu li {
		float:left;
	}
	
	/* Link - common attributes */
	ul#menu li a {
		background:url(./menuBackground.png) no-repeat scroll top left;
		display:block;
		height:60px;
		position:relative;
	}
	
	/* Specify width and background position attributes specifically for the class: "home" */
	ul#menu li a.inicio {
		width:159px;
		background-position:0px -10px;
	}
	
	/* Specify width and background position attributes specifically for the class: "portfolio" */
	ul#menu li a.eventos {
		width:158px;
		background-position:-158px -10px;
	}
	
	ul#menu li a.calendario {
		width:158px;
		background-position:-316px -10px;
	}
	
	ul#menu li a.ofrecemos{
		width:158px;
		background-position:-474px -10px;
	}
	
	/* Span (on hover) - common attributes */
	ul#menu li a span {
		background:url(./menuBackground.png) no-repeat scroll bottom left;
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index:100;
	}
	
	/* Span (on hover) - display pointer */
	ul#menu li a span:hover {
		cursor:pointer;
	}
	
	/* Shift background position on hover for the class: "home" */
	ul#menu li a.inicio span {
		background-position:0px -91px;
	}
	
	/* Shift background position on hover for the class: "portfolio" */
	ul#menu li a.eventos span {
		background-position:-158px -91px;
	}
	ul#menu li a.calendario span {
		background-position:-313px -91px;
	}
	ul#menu li a.ofrecemos span {
		background-position:-475px -91px;
	}
	
	#buscar{
		background: white;
		height: 81px;
		width: 335px;
	}
	
#searchbox
{         
	width: 280px;
	height: 30px;
	padding: 10px;
	margin-left: 30px;
	margin-top: 5px;
}

#search
{
	padding: 5px 9px;
	height: 20px;
	width: 150px;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: grey;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);   
		color:white;
	border:none;
}

/* ----------------------- */

#submit
{		
	background: #95d788;
	background: -moz-linear-gradient(#757575, #404040);
	background: -webkit-linear-gradient(#757575, #404040);
	color:white;

	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		
	border:none;
	height: 25px;
	margin: 0 0 0 10px;
    padding: 0;
	width: 70px;
	cursor: pointer;
	font: 12px Arial, Helvetica;
}

#submit:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}		
#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}   

#search.placeholder {
   color: #9c9c9c !important;
   font-style: italic;
} 